<ul class="nav nav-sidebar">
  <li><a href="/">Build History <span class="sr-only">(current)</span></a></li>
  <li><a href="/">Reports</a></li>
  <li><a href="/">Analytics</a></li>
  <li><a href="/">Export</a></li>
</ul>
<hr/>
<ul class="nav nav-sidebar">
  @in[host hosts]{
    <li><a href="/host?name=@(qahost-name host)">@(qahost-name host)</a></li>
   }
</ul>
<hr/>

<!--
<ul class="nav nav-sidebar">
  <li><a href="">- - -</a></li>
  <li><a href="">- - -</a></li>
  <li><a href="">- - -</a></li>
</ul>
-->